<div *ngIf="data" class="container">
    <div class="well flex">
        <div>
            <h3>{{data.name}} ({{zipCode}})</h3>
            <h4>Current conditions: {{data.skyCondiction | titlecase}}</h4>
            <h4>Temperatures today:</h4>
            <p>
                Current {{ data.currentTemp | number : '1.0-0'}}
                - Max {{ data.maxTemp | number : '1.0-0'}}
                - Min {{ data.minTemp | number : '1.0-0'}}
            </p>
            <p>
                <a [routerLink]="['/forecast', zipCode]">Show 5-day forecast for {{ data.name }}</a>
            </p>
        </div>
        <div>
            <button (click)="removeLocation()" class="close">×</button>
            <app-weather-icon [icon]="false" [skyCondition]="data.skyCondiction | weatherStatus"></app-weather-icon>
        </div>
    </div>
    <hr>
</div>


