<div *ngIf="locationDTO" class="container">
    <div class="well flex">
        <div>
            <h3>{{locationDTO.name}} ({{zipCode}})</h3>
            <h4>Current conditions: {{locationDTO.skyCondiction | titlecase}}</h4>
            <h4>Temperatures today:</h4>
            <p>
                Current {{ locationDTO.currentTemp | number : '1.0-0'}}
                - Max {{ locationDTO.maxTemp | number : '1.0-0'}}
                - Min {{ locationDTO.minTemp | number : '1.0-0'}}
            </p>
            <p>
                <a [routerLink]="['/forecast', zipCode]">Show 5-day forecast for {{ locationDTO.name }}</a>
            </p>
        </div>
        <div>
            <button (click)="removeLocation()" class="close">×</button>
            <app-weather-icon [icon]="false"
                              [skyCondition]="locationDTO.skyCondiction | weatherStatus"></app-weather-icon>
        </div>
    </div>
    <hr>
</div>


