<div class=" container">
    <div class="card">
        <div class="card-header font-weight-bold">
            Enter a zipcode:
        </div>
        <div class="card-body">
            <form #zipCodeForm="ngForm" (submit)="onSubmit(zipCodeForm)">
                <input #zipCodeInput="ngModel"
                       [class.is-invalid]="zipCodeInput.invalid && zipCodeInput.touched"
                       [class.is-valid]="!(zipCodeInput.invalid && zipCodeInput.untouched)"
                       pattern="^[0-9]*$"
                       class="form-control" name="zipCode" type="text" id="addLocation"
                       [(ngModel)]="zipCode" minlength="5" maxlength="5"
                       placeholder="zipCode" required>
                <div *ngIf="zipCodeInput.errors && (zipCodeInput.invalid || zipCodeInput.touched)">
                    <small id="zipCodeError2" class="text-danger"
                           *ngIf="zipCodeInput.errors.pattern || zipCodeInput.errors.minlength">
                        {{zipCodeInput.value}} is not a valid zipcode
                    </small>
                    <small id="zipCodeError3" class="text-danger"
                           *ngIf="zipCodeInput.errors.required && zipCodeInput.touched">
                        A zipcode is required
                    </small>

                </div>

                <br>

                <div id="zipCodeError4" class="alert alert-warning" role="alert"
                     *ngIf="!(zipCodeInput.untouched) && !(zipCodeInput.value | validZipCode)">
                    This zipcode has already been added !
                </div>

                <div id="zipCodeError5" class="alert alert-danger" role="alert"
                     *ngIf="(zipCodeNotFound$ | async)">
                    This zipcode has not been found !!
                </div>


                <button class="btn btn-primary btn-rounded text-monospace font-italic font-weight-bolder"
                        [disabled]="!(zipCodeInput.value | validZipCode) || zipCodeInput.invalid">
                    Add location
                    <i *ngIf="loading$ | async" class="fa fa-spinner fa-spin"></i>
                </button>
            </form>
        </div>
    </div>

    <br>

    <div class="card">
        <app-list-location></app-list-location>
    </div>
</div>
